VITE_API_KEY=AIzaSyCWJBVwtotPUODwCJ2K4Y9eYsyIU7QyMl0
VITE_PROJECT_ID=pmkp-0928-0830
VITE_AUTH_DOMAIN=pmkp-0928-0830.firebaseapp.com
VITE_STORAGE_BUCKET=pmkp-0928-0830.firebasestorage.app
VITE_MESSAGE_SENDER_ID=815621066016
VITE_APP_ID=1:815621066016:web:46e1f90a07775bc327db45
VITE_MEASUREMENT_ID=G-KCMYQYVWBE

VITE_EMAILJS_SERVICE_ID=pmkp_0928_0830
VITE_EMAILJS_TEMPLATE_ID=pmkp_0928_0830_template_
VITE_EMAILJS_PUBLIC_KEY=VufAOjOKsEJHHOwMz

VITE_PID=ckw9aswOhAOeR0qCQlpxwnnFoLx2
VITE_MID=E2wMQVga3VXgSq4Iu2L6palFj2l1

VITE_PUID=0928
VITE_MUID=0830

VITE_CLOUDINARY_CLOUD_NAME=dzg0m5txx
VITE_CLOUDINARY_PRESET_NAME=pmkp-0928-0830
